body {
	padding-left: 15px; 
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
}


h1 a {
    color: #99C056; 
 
}
h2 a {
    color: #6F38CE;

}

.hover-title:hover {
    transition:2s;
    transform: translateX(100px);
    transform: rotate(360deg);
}

.page-header {
    background-color: #C06056;
    margin-top: 0;
    padding-top: 20px 20px 20px 40px;

}
.page-header h1, .page-header h1 a {
    color: #ffffff;
    font-size: 36pt;   
    text-decoration: none;

}
.post {
margin-bottom: 70px;

}